@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
}

.main{
	position:relative;
	text-align:center;
	background: linear-gradient(90deg, hsla(120, 93%, 84%, 1) 0%, hsla(185, 90%, 51%, 1) 100%);
}

h1{
  font-size: 30px;
  margin: 20px 0px;
  color: #80ED99;
  margin-bottom: 40px;
}

form{
  padding: 20px;
  margin-left: 30%;
  width: 40%;
  height: 80%;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 7px 5px 21px 7px rgb(75 191 191 / 89%);
  z-index: 5;
  position: relative;
  top: 50px;
}

input{
  height: 16px;
  width: 47%;
  margin-bottom: 26px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #3333;
  color: #333333;
}

select {
  width: 47%;
  margin-bottom: 26px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #3333;
  color: #333333;
}


.button{
  border: none;
  width: 171px;
  height: 42px;
  color: #fff;
  background-color: #80ED99;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  margin: 0 !important;
}

.button:hover{
	background-color: #22577A;
}

.back{
    background-color: #d9dddc;
}

.buttons{
	display: flex;
	align-items: center;
    justify-content: space-evenly;
}




